#a{
	position: absolute;
	top: 128px;
	left:20px;
}
#b{
	position: absolute;
	top: 278px;
	left:20px;
}
#c{
    position: absolute;
    top: 428px;
    left:20px;
}
#d{
	position: absolute; 
	top: 578px;
	left:20px;
}
#e{
	position: absolute;
	top: 728px;
	left:20px;
}
h2{
	font-size:53px;
	position: absolute;
	top: 34px;
	left: 975px;
	text-shadow: #000000 2px 2px 0, #000000 -2px -2px 0;
	color:#ff0000;
}
#g{
	position: absolute;
	top: 38px;
	left: 55px;
	font-size:40px;
	text-shadow: #000000 1px 1px 0, #000000 -1px -1px 0;
	color:#CD853F;
}
.poster{
    position:absolute;
    margin:100px auto;
    background:#FFFFE0;
    height:20px;
    width:75px;
	top:190px;
	left:150px;
	border-radius: 5px;
}
.descr{
    display:none;
    margin-left:75px;
    padding:1px;
    margin-top:1px;
    background:#99cc33;
    height:200px;
    -moz-box-shadow:0 5px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow:0 5px 5px rgba(0,0,0,0.3);
    box-shadow:0 5px 5px rgba(0,0,0,0.3);
	border-radius: 5px;
}
.poster:hover .descr{
    display:block;
    position:absolute;
    top:-100px;
    z-index:9999;
    width:400px;
	border-radius: 5px;
}
#n{
	position: absolute;
	top: 185px;
	left: 235px;
	font-size:27px;
	text-shadow: #000000 1px 1px 0, #000000 -1px -1px 0;
	color:#99cc33;
}
#m{
	position: absolute;
	top: 250px;
	right: 675px;
	border-radius: 5px;
	box-shadow: 0 0 5px 2px;
}
.poster1{
    position:absolute;
    margin:100px auto;
    background:#FFFFE0;
    height:20px;
    width:75px;
	top:340px;
	left:150px;
	border-radius: 5px;
}
.descr1{
    display:none;
    margin-left:75px;
    padding:1px;
    margin-top:1px;
    background:#99cc33;
    height:200px;
    -moz-box-shadow:0 5px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow:0 5px 5px rgba(0,0,0,0.3);
    box-shadow:0 5px 5px rgba(0,0,0,0.3);
	border-radius: 5px;
}
.poster1:hover .descr1{
    display:block;
    position:absolute;
    top:-100px;
    z-index:9999;
    width:400px;
	border-radius: 5px;
}
#n1{
	position: absolute;
	top: 350px;
	left: 235px;
	font-size:27px;
	text-shadow: #000000 1px 1px 0, #000000 -1px -1px 0;
	color:#99cc33;
}
.poster2{
    position:absolute;
    margin:100px auto;
    background:#FFFFE0;
    height:20px;
    width:75px;
	top:490px;
	left:150px;
	border-radius: 5px;
}
.descr2{
    display:none;
    margin-left:75px;
    padding:1px;
    margin-top:1px;
    background:#99cc33;
    height:200px;
    -moz-box-shadow:0 5px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow:0 5px 5px rgba(0,0,0,0.3);
    box-shadow:0 5px 5px rgba(0,0,0,0.3);
	border-radius: 5px;
}
.poster2:hover .descr2{
    display:block;
    position:absolute;
    top:-100px;
    z-index:9999;
    width:400px;
	border-radius: 5px;
}
#n2{
	position: absolute;
	top: 490px;
	left: 235px;
	font-size:27px;
	text-shadow: #000000 1px 1px 0, #000000 -1px -1px 0;
	color:#99cc33;
}
.poster3{
    position:absolute;
    margin:100px auto;
    background:#FFFFE0;
    height:20px;
    width:75px;
	top:640px;
	left:150px;
	border-radius: 5px;
}
.descr3{
    display:none;
    margin-left:75px;
    padding:1px;
    margin-top:1px;
    background:#99cc33;
    height:200px;
    -moz-box-shadow:0 5px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow:0 5px 5px rgba(0,0,0,0.3);
    box-shadow:0 5px 5px rgba(0,0,0,0.3);
	border-radius: 5px;
}
.poster3:hover .descr3{
    display:block;
    position:absolute;
    top:-100px;
    z-index:9999;
    width:400px;
	border-radius: 5px;
}
#n3{
	position: absolute;
	top: 640px;
	left: 235px;
	font-size:27px;
	text-shadow: #000000 1px 1px 0, #000000 -1px -1px 0;
	color:#99cc33;
}
.poster4{
    position:absolute;
    margin:100px auto;
    background:#FFFFE0;
    height:20px;
    width:75px;
	top:790px;
	left:150px;
	border-radius: 5px;
}
.descr4{
    display:none;
    margin-left:75px;
    padding:1px;
    margin-top:1px;
    background:#99cc33;
    height:200px;
    -moz-box-shadow:0 5px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow:0 5px 5px rgba(0,0,0,0.3);
    box-shadow:0 5px 5px rgba(0,0,0,0.3);
	border-radius: 5px;
}
.poster4:hover .descr4{
    display:block;
    position:absolute;
    top:-100px;
    z-index:9999;
    width:400px;
	border-radius: 5px;
}
#n4{
	position: absolute;
	top: 790px;
	left: 235px;
	font-size:27px;
	text-shadow: #000000 1px 1px 0, #000000 -1px -1px 0;
	color:#99cc33;
}